/* цвет основного текста #212121  */
/* вторичный цвет текста #757575  */
/* белый  #FFFFFF */
/* акцент #2196F3 */

/* вторичный цвет фона #F5F4FA */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --title-text-color: #757575;
  --accent-color: #2196f3;
}
body {
  color: var(--primary-text-color);
  background-color: var(--secondary-text-color);
}

.list {
  list-style: none;
}

.logo {
  color: var(--accent-color);
}

/* Site-nav */
.site-nav .link {
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.social-networks .link:hover,
.social-networks .link:hover {
  color: var(--accent-color);
}
footer {
  color: var(--secondary-text-color);
  background: #2f303a;
}

/* Button */

.button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
.button.primary {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}
.button.secondary {
  background-color: var(--secondary-text-color);
  color: var(--accent-color);
}
